{% if paginator.total_pages != 1 %}
  <div class="row pagination">
    <div class="col text-left">
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="btn btn-outline-primary" href="{{ site.baseurl }}/">Newer</a>
        {% else %}
          <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}">Newer</a>
        {% endif %}
      {% else %}
        <span class="btn btn-outline-primary disabled">Newer</span>
      {% endif %}
    </div>
    <div class="col text-center">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </div>
    <div class="col text-right">
      {% if paginator.next_page %}
        <a class="btn btn-outline-primary" href="{{ paginator.next_page_path }}">Older</a>
      {% else %}
        <span class="btn btn-outline-primary disabled">Older</span>
      {% endif %}
    </div>
  </div>
{% endif %}
