.posts {
  margin-bottom: 6em;

  .post {
    margin-bottom: 2em;
    border-bottom: thin solid #f3f3f3;
    padding-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.post-meta {
  // width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}
