---
layout: default
---
{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}
<h1>{{ page.title }}</h1>
<div class="post-meta">
  {{ page.date | date: site.date_format }}<br>
  {% if page.update_date %}
    <small>Updated: {{ page.update_date | date: site.date_format }}</small><br>
  {% endif %}
  <small>
  {% if page.minutes %}
    {{ page.minutes }} minute read
  {% else %}
    {{ minutes }} minute read
  {% endif %}
  </small>
</div>
<article>
  {{ content }}
</article>
{% include share_buttons.html %}
